@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belgrano&display=swap");
body {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 1920px;
  font-family: "Poppins", "sans-serif";
  margin: auto;
  max-height: 1000px;
  background-image: linear-gradient(to right, #FFFFFF 55%, #2E2F38 55%, #2E2F38 100%);
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
}
header figure {
  margin: 0;
}
header nav ul {
  margin: 0;
  display: flex;
  gap: 56px;
  list-style: none;
  margin-left: 150px;
}
header nav ul a {
  text-decoration: none;
  color: #2E2F38;
  padding: 15px 20px;
  transition: all 0.3s ease;
  border-radius: 20px;
}
header nav ul a:hover {
  text-decoration: underline;
  background-color: #2E2F38;
  color: #FFFFFF;
}
header aside {
  display: flex;
  margin-left: auto;
  margin-right: 100px;
}
header aside li {
  list-style: none;
}
header aside li a {
  text-decoration: none;
  padding: 10px 45px;
}
header aside li a:hover {
  text-decoration: underline;
}
header aside li .sign-up {
  color: #FFFFFF;
}
header aside li .sign-in {
  color: #FFFFFF;
  background-color: #FA504D;
}

.main-container {
  display: grid;
  grid-template: 50% 30%/55% 45%;
}
.main-container .hero-text {
  grid-area: 1/1/span 1/span 1;
}
.main-container .hero-text-title {
  font-family: "Belgrano", serif;
  font-size: 72px;
  max-width: 920px;
  font-weight: 400;
  line-height: 96px;
  margin: 0;
  margin-top: 80px;
}
.main-container .hero-text-p {
  color: #8E8E8E;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 40px;
}
.main-container .hero-text-p span {
  position: relative;
}
.main-container .hero-text-p span::after {
  position: absolute;
  content: "";
  width: 83px;
  height: 4px;
  background-color: #FA504D;
  right: 43px;
  top: 26px;
}
.main-container .hero-text-button {
  display: inline-flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #FA504D;
  padding: 5px 70px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.main-container .hero-text-button:hover {
  background-color: #2E2F38;
  color: #FA504D;
}
.main-container .hero-text div.buttons {
  display: flex;
  align-items: center;
}
.main-container .hero-text-info {
  display: flex;
  align-items: center;
  color: #2E2F38;
  padding: 5px 70px;
  height: 45px;
}
.main-container .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 1/2/span 2/span 1;
  background-image: url("../../img/Artzie-background.svg");
  background-repeat: no-repeat;
  background-position: right -70px top 20px;
  background-size: 365px 840px;
}
.main-container .hero-content .principal-art {
  width: 574px;
  height: 680px;
  margin-top: 50px;
}
.main-container .hero-content .social {
  background-color: #FFFFFF;
  width: 608px;
  height: 235px;
  padding: 30px;
  margin-top: -90px;
}
.main-container .hero-content .social .up-side {
  position: relative;
  display: flex;
}
.main-container .hero-content .social .up-side p {
  color: #8E8E8E;
}
.main-container .hero-content .social .up-side img {
  width: 63px;
  height: 64px;
}
.main-container .hero-content .social .up-side-left {
  width: 50%;
  height: 65px;
  display: grid;
  grid-template: 1fr 1fr/33.33% 66.66%;
}
.main-container .hero-content .social .up-side-left img {
  grid-area: 1/1/span 2/span 1;
  margin: auto;
}
.main-container .hero-content .social .up-side-left p {
  grid-area: 1/2/span 2/span 1;
  margin: 0;
}
.main-container .hero-content .social .up-side-left h4 {
  grid-area: 2/2/span 1/span 1;
  margin: 0;
}
.main-container .hero-content .social .up-side-right {
  margin-left: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.main-container .hero-content .social .up-side-right p {
  margin: 0;
}
.main-container .hero-content .social .up-side-right h4 {
  margin: 0;
  margin-left: auto;
}
.main-container .hero-content .social .up-side::after {
  position: absolute;
  content: "";
  width: 600px;
  height: 1px;
  background-color: #2E2F38;
  top: 73px;
  left: 12px;
}
.main-container .hero-content .social .down-side ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0;
}
.main-container .hero-content .social .down-side ul a {
  text-decoration: none;
  display: block;
  padding: 10px 100px;
  transition: all 0.3s ease;
}
.main-container .hero-content .social .down-side ul .bid-now {
  background-color: #FA504D;
  color: #FFFFFF;
}
.main-container .hero-content .social .down-side ul .bid-now:hover {
  background-color: #2E2F38;
  color: #FA504D;
}
.main-container .hero-content .social .down-side ul .view-artwork {
  color: #FA504D;
}
.main-container .hero-content .social .down-side ul .view-artwork:hover {
  text-decoration: underline;
}
.main-container .hero-content .info {
  display: flex;
  gap: 145px;
}
.main-container .hero-content .info p {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-container .hero-content .info span {
  color: #FA504D;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main-container .featured-artwork {
  grid-area: 2/1/span 1/span 1;
  margin-top: 20px;
}
.main-container .featured-artwork h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Belgrano", serif;
}
.main-container .featured-artwork .images {
  display: flex;
  gap: 48px;
  margin-left: 8px;
}/*# sourceMappingURL=main.css.map */